body {
    display: flex;
    justify-content: center;
}



.board {
    max-width: 600px;
}

.row {
    display: flex;
    justify-content: space-evenly;
}

.square {
    border: solid black 1px;
    padding: 25px 30px;
    margin: 5px;
}